* {
    margin: 0;
    padding: 0;
}

/* Seletores de pais e filhos */

.color-red {
    color: crimson;
}

/* .main-content h2 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
} */

.main-content .heading {
    font-style: italic;
    color: cadetblue;
}

.main-content .paragraph {
    margin-top: 7px;
    font-size: 20px;
    font-weight: bold;
}

/* div.main-content .heading {
    font-style: oblique;
    color: deeppink;
} */

/* body.error div.main-content h2.heading {
    font-style: italic;
    color: red;
} */

div {
    color: initial;
    font-size: 25px;
    margin-left: 25px;
}

.father {
    margin-top: 20px;
}

.father .child {
    color: red;
}

/* .father > .child > .child {
    color: red;
} */

/* Seletores de irmãos */

.father h1+p {
    color: darkcyan;
}

.father h1~p {
    color: darkcyan;
}

.father p+h1 {
    color: green;
}

/* Seletores de Atributos */

/* 
[my-attribute="value"] {
    color: red;
}

[my-attribute~="value"] { tenha pelo menos o valor especificado na lista de valores
   
    color: red;
} 
[my-attribute|="value"] { Primeiro valor seguido por um traço 
    color: red;
} 
[my-attribute^="val"] { Se o valor começa com o que está sendo pedido. 
    color: red;
} 
[my-attribute$="ue"] { Se o valor termina com o que está sendo pedido. 
    color: red;
} 
[my-attribute*="l"] { Se o valor contém em alguma parte o que está sendo pedido. 
    color: red;
} 
*/