* {
    margin: 0;
    padding: 0;
}
#heading {
    background-color: rgba(0, 0, 0, 0.7);
}

#heading div {
    width: 90%;
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
}

body {
    background-image: url(
        https://assets.nflxext.com/ffe/siteui/vlv3/ac824598-245b-4828-b14f-5cff9074f4d0/21bb26e2-15da-4814-9014-3f4a913250de/BR-pt-20220822-popsignuptwoweeks-perspective_alpha_website_small.jpg
    );
    background-size: cover;
    background-position: top center;
}

#heading .h1 {
    padding: 15px;
    font-size: 20px;
    text-transform: uppercase;
}

#heading a {
    color: #FFF;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}